.projectText a, .projectText a:hover, .projectText a:focus , .projectText a:active {
	background: linear-gradient(to right, #fd7e14, #ea4b1f);
	width: 161px;
	height: 52px;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
    display: flex;
    margin: 0 auto;
}